body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: url(https://www.publicdomainpictures.net/pictures/230000/velka/grand-teton-mountains.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-size: cover;
  
    font-family: "Abel", sans-serif;
    font-size: 20px;
    color: #111111d;
  }
  
  img{
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: rgba(250,250,250,0.2);
  }
  
  h1, h2{
    font-family: "Gill Sans MT";
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    color: #111111;
  }
  
  h1{
    line-height: 150px;
    letter-spacing: -1px;
    font-size: 5.8em;
    text-align: center;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: rgba(250,250,250, 0.1);
  }
  
  .columns{
    overflow: hidden;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px 30px;
    
    background: rgba(250,250,250, 0.4);  
    display: flex;
    flex-direction: row;
    align-items: space-between;
  }
  
  .column{
    display: flex;
    flex-direction: column;
    padding: 15px;
  }