body{
    background: #333333;
    font-family: "Abel", sans-serif;
    font-size: 20px;
    line-height: 1.6em;
    font-weight: 300;
    color: #EAEAEA;
  }
  
  #nav > ul > li{
    display: inline-block;
    margin-left: 0.5em;
    padding: 10px;
    
    color: #EAEAEA;
    line-height: 3.5em;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 400;
  }
  
  #nav > ul > li a{
    color: #EAEAEA;
    line-height: 3.5em;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 400;
    
  }
  
  #nav > ul > li > ul{
    display: none;
  }
  
  #banner{
    width: 1000px auto;
    padding: 150px;
    text-align: center;
    text-transform: uppercase;
    color: #EAEAEA;
  }
  
  #banner h2{
    display: inline-block;
    padding: 20px 20px;
    font-size: 50px;
    font-family: "Impact";
    letter-spacing: 3px;
    background: #84C241;
  }
  
  #banner h3{
    letter-spacing: 2px;
    font-size: 28px;
    font-weight: 400;
  }
  
  #banner p{
    display: block;
    text-align: center;
  }
  
  #fullWidth0{
    background: #84C241;
    color: #EAEAEA;
  }
  
  #fullWidth1{
    background: #333333;
    color: #EAEAEA;
  }
  
  #section1{
    width: 1000px;
    overflow: hidden;
    margin: 0 auto;
    padding: 30px 30px;
  }
  
  #section2{
    width: 1000px;
    overflow: hidden;
    margin: 0 auto;
    padding: 30px 30px;
  }
  
  #section3{
    width: 1000px;
    overflow: hidden;
    margin: 0 auto;
    padding: 30px 30px;
  }
  
  #section4{
    width: 1000px;
    overflow: hidden;
    margin: 0 auto;
    padding: 30px 30px;
  }
  
  